<!DOCTYPE html>
<html lang="en">

<%- include('../partiels/head.ejs')%>

    <body>
        <%- include('../partiels/nav.ejs')%>
            <div class="container-all">
                <h1>Sign Up</h1>

                <form action="/auth/register" method="POST">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Votre Numero de Telephone:</label>
                        <input type="numberl" name="phone" class="form-control"
                            placeholder="Enter votre numero de telephone">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Votre Nom:</label>
                        <input type="numberl" name="name" class="form-control"
                            placeholder="Enter votre numero de telephone">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Votre Email address:</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                            placeholder="Enter Votre Email Adress" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Votre Mot de passe:</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Enter Votre Mot de passe ">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <%- include('../partiels/footer.ejs')%>

    </body>

</html>