<!DOCTYPE html>
<html lang="en">

<%- include('../partiels/head.ejs')%>

    <body>
        <%- include('../partiels/nav.ejs')%>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 offset-lg-4 ">
                        <h1 style="text-align: center; margin:1rem 0;">Login</h1>
                        <form action="/auth/login" method="POST">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Votre Numero de Telephone:</label>
                                <input type="numberl" name="phone" class="form-control"
                                    placeholder="Enter votre numero de telephone">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Votre Mot de passe:</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Enter Votre Mot de passe ">
                            </div>
                            <a href="/auth/signup">Creer un compte</a>
                            <br>
                            <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <%- include('../partiels/footer.ejs')%>

    </body>

</html>