<!DOCTYPE html>
<html lang="en">

<%- include('./partiels/head.ejs')%>

    <body>

        <%- include('./partiels/nav.ejs')%>

            <h1>404 --OPS</h1>
            <h1>PAGE NOT FOUND </h1>
            <%- include('./partiels/footer.ejs')%>
    </body>

</html>